.background {
  background: url("./img.png");
  min-width: 100%;
  min-height: 500px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 40px;
}
.centered {
  position: absolute;
  top: 50vh;
  left: 50vh;
  padding: 30px;
  color: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
}
h1 {
  font-size: 70px;
  overflow: hidden;
  max-width: 450px;
}
p {
  color: rgba(39, 39, 39, 0.657);
  font-size: 30px;
  max-width: 450px;
}
.getstarted {
  background-color: rgb(230, 114, 6);
  border: none;
  outline: none;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  .centered {
    position: absolute;
    top: 75vh;
    left: 50vh;
    padding: 20px;
    color: rgb(0, 0, 0);
    transform: translate(-50%, -50%);
  }
  h1 {
    font-size: 40px;
    overflow: hidden;
    max-width: 200px;
  }
  p {
    color: rgba(39, 39, 39, 0.657);
    font-size: 20px;
    max-width: 200px;
  }
}
